.footer {
  position: sticky;
  position: -webkit-sticky;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.wave1 {
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
  padding-top: 3rem;
  background-color: var(--foreground);
  width: 100%;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 3.57%,
    1.25% 3.28%,
    2.5% 2.99%,
    3.75% 2.71%,
    5% 2.43%,
    6.25% 2.17%,
    7.5% 1.91%,
    8.75% 1.67%,
    10% 1.44%,
    11.25% 1.22%,
    12.5% 1.03%,
    13.75% 0.85%,
    15% 0.69%,
    16.25% 0.54%,
    17.5% 0.42%,
    18.75% 0.32%,
    20% 0.25%,
    21.25% 0.19%,
    22.5% 0.16%,
    23.75% 0.15%,
    25% 0.16%,
    26.25% 0.2%,
    27.5% 0.26%,
    28.75% 0.34%,
    30% 0.45%,
    31.25% 0.57%,
    32.5% 0.72%,
    33.75% 0.89%,
    35% 1.07%,
    36.25% 1.27%,
    37.5% 1.49%,
    38.75% 1.72%,
    40% 1.97%,
    41.25% 2.23%,
    42.5% 2.49%,
    43.75% 2.77%,
    45% 3.05%,
    46.25% 3.34%,
    47.5% 3.64%,
    48.75% 3.93%,
    50% 4.22%,
    51.25% 4.52%,
    52.5% 4.8%,
    53.75% 5.09%,
    55% 5.36%,
    56.25% 5.63%,
    57.5% 5.88%,
    58.75% 6.13%,
    60% 6.36%,
    61.25% 6.57%,
    62.5% 6.77%,
    63.75% 6.95%,
    65% 7.11%,
    66.25% 7.25%,
    67.5% 7.37%,
    68.75% 7.47%,
    70% 7.55%,
    71.25% 7.61%,
    72.5% 7.64%,
    73.75% 7.65%,
    75% 7.63%,
    76.25% 7.59%,
    77.5% 7.53%,
    78.75% 7.45%,
    80% 7.35%,
    81.25% 7.22%,
    82.5% 7.08%,
    83.75% 6.91%,
    85% 6.73%,
    86.25% 6.53%,
    87.5% 6.31%,
    88.75% 6.07%,
    90% 5.83%,
    91.25% 5.57%,
    92.5% 5.3%,
    93.75% 5.03%,
    95% 4.74%,
    96.25% 4.45%,
    97.5% 4.16%,
    98.75% 3.87%,
    100% 3.57%
  );
  -webkit-clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 3.57%,
    1.25% 3.28%,
    2.5% 2.99%,
    3.75% 2.71%,
    5% 2.43%,
    6.25% 2.17%,
    7.5% 1.91%,
    8.75% 1.67%,
    10% 1.44%,
    11.25% 1.22%,
    12.5% 1.03%,
    13.75% 0.85%,
    15% 0.69%,
    16.25% 0.54%,
    17.5% 0.42%,
    18.75% 0.32%,
    20% 0.25%,
    21.25% 0.19%,
    22.5% 0.16%,
    23.75% 0.15%,
    25% 0.16%,
    26.25% 0.2%,
    27.5% 0.26%,
    28.75% 0.34%,
    30% 0.45%,
    31.25% 0.57%,
    32.5% 0.72%,
    33.75% 0.89%,
    35% 1.07%,
    36.25% 1.27%,
    37.5% 1.49%,
    38.75% 1.72%,
    40% 1.97%,
    41.25% 2.23%,
    42.5% 2.49%,
    43.75% 2.77%,
    45% 3.05%,
    46.25% 3.34%,
    47.5% 3.64%,
    48.75% 3.93%,
    50% 4.22%,
    51.25% 4.52%,
    52.5% 4.8%,
    53.75% 5.09%,
    55% 5.36%,
    56.25% 5.63%,
    57.5% 5.88%,
    58.75% 6.13%,
    60% 6.36%,
    61.25% 6.57%,
    62.5% 6.77%,
    63.75% 6.95%,
    65% 7.11%,
    66.25% 7.25%,
    67.5% 7.37%,
    68.75% 7.47%,
    70% 7.55%,
    71.25% 7.61%,
    72.5% 7.64%,
    73.75% 7.65%,
    75% 7.63%,
    76.25% 7.59%,
    77.5% 7.53%,
    78.75% 7.45%,
    80% 7.35%,
    81.25% 7.22%,
    82.5% 7.08%,
    83.75% 6.91%,
    85% 6.73%,
    86.25% 6.53%,
    87.5% 6.31%,
    88.75% 6.07%,
    90% 5.83%,
    91.25% 5.57%,
    92.5% 5.3%,
    93.75% 5.03%,
    95% 4.74%,
    96.25% 4.45%,
    97.5% 4.16%,
    98.75% 3.87%,
    100% 3.57%
  );
}
.wave2 {
  position: absolute;
  width: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.25);
  height: 330px;
  top: 0;
  -webkit-clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 0.21%,
    1.25% 0.17%,
    2.5% 0.15%,
    3.75% 0.16%,
    5% 0.19%,
    6.25% 0.24%,
    7.5% 0.31%,
    8.75% 0.41%,
    10% 0.53%,
    11.25% 0.67%,
    12.5% 0.83%,
    13.75% 1.01%,
    15% 1.2%,
    16.25% 1.41%,
    17.5% 1.64%,
    18.75% 1.88%,
    20% 2.14%,
    21.25% 2.4%,
    22.5% 2.68%,
    23.75% 2.96%,
    25% 3.25%,
    26.25% 3.54%,
    27.5% 3.83%,
    28.75% 4.13%,
    30% 4.42%,
    31.25% 4.71%,
    32.5% 4.99%,
    33.75% 5.27%,
    35% 5.54%,
    36.25% 5.8%,
    37.5% 6.05%,
    38.75% 6.28%,
    40% 6.5%,
    41.25% 6.71%,
    42.5% 6.89%,
    43.75% 7.06%,
    45% 7.21%,
    46.25% 7.34%,
    47.5% 7.44%,
    48.75% 7.53%,
    50% 7.59%,
    51.25% 7.63%,
    52.5% 7.65%,
    53.75% 7.64%,
    55% 7.61%,
    56.25% 7.56%,
    57.5% 7.48%,
    58.75% 7.39%,
    60% 7.27%,
    61.25% 7.13%,
    62.5% 6.97%,
    63.75% 6.79%,
    65% 6.59%,
    66.25% 6.38%,
    67.5% 6.15%,
    68.75% 5.91%,
    70% 5.66%,
    71.25% 5.39%,
    72.5% 5.12%,
    73.75% 4.84%,
    75% 4.55%,
    76.25% 4.26%,
    77.5% 3.96%,
    78.75% 3.67%,
    80% 3.38%,
    81.25% 3.09%,
    82.5% 2.8%,
    83.75% 2.52%,
    85% 2.25%,
    86.25% 2%,
    87.5% 1.75%,
    88.75% 1.51%,
    90% 1.29%,
    91.25% 1.09%,
    92.5% 0.9%,
    93.75% 0.74%,
    95% 0.59%,
    96.25% 0.46%,
    97.5% 0.35%,
    98.75% 0.27%,
    100% 0.21%
  );
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 0.21%,
    1.25% 0.17%,
    2.5% 0.15%,
    3.75% 0.16%,
    5% 0.19%,
    6.25% 0.24%,
    7.5% 0.31%,
    8.75% 0.41%,
    10% 0.53%,
    11.25% 0.67%,
    12.5% 0.83%,
    13.75% 1.01%,
    15% 1.2%,
    16.25% 1.41%,
    17.5% 1.64%,
    18.75% 1.88%,
    20% 2.14%,
    21.25% 2.4%,
    22.5% 2.68%,
    23.75% 2.96%,
    25% 3.25%,
    26.25% 3.54%,
    27.5% 3.83%,
    28.75% 4.13%,
    30% 4.42%,
    31.25% 4.71%,
    32.5% 4.99%,
    33.75% 5.27%,
    35% 5.54%,
    36.25% 5.8%,
    37.5% 6.05%,
    38.75% 6.28%,
    40% 6.5%,
    41.25% 6.71%,
    42.5% 6.89%,
    43.75% 7.06%,
    45% 7.21%,
    46.25% 7.34%,
    47.5% 7.44%,
    48.75% 7.53%,
    50% 7.59%,
    51.25% 7.63%,
    52.5% 7.65%,
    53.75% 7.64%,
    55% 7.61%,
    56.25% 7.56%,
    57.5% 7.48%,
    58.75% 7.39%,
    60% 7.27%,
    61.25% 7.13%,
    62.5% 6.97%,
    63.75% 6.79%,
    65% 6.59%,
    66.25% 6.38%,
    67.5% 6.15%,
    68.75% 5.91%,
    70% 5.66%,
    71.25% 5.39%,
    72.5% 5.12%,
    73.75% 4.84%,
    75% 4.55%,
    76.25% 4.26%,
    77.5% 3.96%,
    78.75% 3.67%,
    80% 3.38%,
    81.25% 3.09%,
    82.5% 2.8%,
    83.75% 2.52%,
    85% 2.25%,
    86.25% 2%,
    87.5% 1.75%,
    88.75% 1.51%,
    90% 1.29%,
    91.25% 1.09%,
    92.5% 0.9%,
    93.75% 0.74%,
    95% 0.59%,
    96.25% 0.46%,
    97.5% 0.35%,
    98.75% 0.27%,
    100% 0.21%
  );
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.logo {
  position: relative;
  width: 100px;
  aspect-ratio: 1/1;
}
.socialsLogo {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  /* gap: 1rem; */
}
.endPoint {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.freepik {
  display: flex;
}
@media only screen and (min-width: 900px) {
  .wave1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .wave2 {
    height: 280px;
  }
  .logo {
    width: 200px;
  }
  .socialsLogo {
    justify-content: flex-end;
    gap: 1rem;
  }
}
