@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ephesis&family=Pacifico&display=swap");

:root {
  --background: #1e0020;
  --foreground: #46094b;
  --text-color: #f1f1f1;
  --button-color: #b048b1;
  --font-ephesis: "Ephesis", cursive;
  --font-pacifico: "Pacifico", cursive;
  --font-comic: "Comic Neue", cursive;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);

  font-family: var(--font-comic);
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

h2,
h3,
h4 {
  font-family: var(--font-pacifico);
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-family: var(--font-ephesis);
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.2rem;
  text-decoration: underline;
}
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1100px) {
  h1 {
    font-size: 3rem;
    font-family: var(--font-ephesis);
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  H4 {
    font-size: 2.25rem;
  }
}

.bar {
  background-color: rgba(172, 172, 172, 0.671);
  width: 26rem;
  max-width: 80vw;
  height: 1px;
  margin: 1rem;
}

img {
  border-radius: 5px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.75));
}

a:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.75));
}
main {
  max-width: 1024px;
}
