.benefits {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 90vw;
  align-items: center;
  gap: 2rem;
}
.ambiances {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  width: 100%;
}
.ambiance {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ambiancePicture {
  position: relative;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16/10;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.outro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
@media only screen and (min-width: 900px) {
  .ambiance {
    flex-direction: row;
  }
}
